<h2>db_stat</h2>
<% @db_stat.each do |data| %>
    <%= data.table_code %>
    <%= @db_stat.find_by(table_code:data.table_code).table_name %>
    <br>
<hr>
<% end %>

<h2>data</h2>
<% @db_test.each do |data| %>
    <%= data.table_code %>
    <%= @db_stat.find_by(table_code:data.table_code).table_name %>
    
    <%= data.date_code %>
    <%= @db_date.find_by(date_code:data.date_code).date_name %>
    
    <%= data.category_code %>
    <%= @db_cat.find_by(category_code:data.category_code).category_name %>
    
    <%= data.data %>
    <%= data.data_unit %>
    <%= data.update_date %>
    <br>
<hr>
<% end %>