<h2>カテゴリーリスト</h2>
<% @db_statlists.each do |data| %>
<%= data.stat_code %>
<br>
<%= data.stat_name %>
<br>
<%= data.table_code %>
<br>
<%= data.table_name %>
<br>
<%= data.update_date %>
<br>
<%= data.last_date %>
<br>
<hr>
<% end %>
<br>
<hr>
<h2>年月リスト</h2>
<% @db_datelists.each do |data| %>
<%= data.date_code %>
<br>
<%= data.date_name %>
<br>
<%= data.date_unit %>
<br>
<hr>
<% end %>