<!DOCTYPE html>
<html>
  <head>
    <title>noz.経済指標ＤＢ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-blue">
      <a class=navbar-brand nav-a" href="index">
        <img src="/top_icon.png" class="d-inline-block align-top nav-img" alt="top-icon">
      </a>
      <a href="nea_data">テスト用</a>
    </nav>
    
      <%= button_to "更新", {controller: 'eco_indicator', action: 'update_data'}, {method: :post} %>
      
      
    <div class="container">

    
      <%= yield %>
    </div>
  </body>
</html>
